<script type="text/javascript" src="http://www.kunalbabre.com/projects/table2CSV.js" > </script>

- results.each do |result, index|
  %div
    %p
      - if result.results.is_a?(Array)
        %table.table.table-small.table-boardered
          %tbody
            %td.table-title= result.question.question_text
        %table.table.table-striped.table-bordered.table-small
          %tr
            %th.bold Answer
            - result.results.each_with_index do |answer|
              %tr
                %td= answer
      - elsif result.results.is_a?(Hash)
        %table.table.table-small
          %tbody
            %td.table-title= result.question.question_text
        %table.table.table-striped.table-bordered
          %tbody
            %tr
              %th.bold Option
              %th.bold Count
            %tr.hide
              %td= result.question.question_text
            - result.results.each do |option, count|
              %tr
                %td= option
                %td= count
