%h1 Results

%ul.nav.nav-tabs
  %li.active= link_to "Charts", "#json-results", "data-toggle" => "tab"
  %li= link_to "Tables", "#html-results", "data-toggle" => "tab"

.tab-content
  .tab-pane.active#json-results
    %br
    %div.btn.btn-primary.toggle.pull-right#cust Customize
    %h5.custopt.hide Customization Menu
    %form{:class => "custopt hide", :action => "#", :method => "get"}
      = radio_button_tag 'color', 'red'
      = label_tag 'Red'
      %br
      = radio_button_tag 'color', 'blue'
      = label_tag 'Blue'
      %br
      = radio_button_tag 'color', 'yellow'
      = label_tag 'Yellow'
      %br
      = submit_tag 'Render', class: "btn btn-danger"
    %br
    = render partial: "json_results", locals: { question_group: @question_group }
  .tab-pane#html-results
    = render partial: "html_results", locals: { results: @question_group_results }

:javascript
  $("#cust").on("click", function(){
    $("#cust").toggleClass('active');
    $(".custopt").toggleClass('hide');
  });
