<!DOCTYPE html>
<html>
<head>
  <meta name="HandheldFriendly" content="true" />
		<meta name="MobileOptimized" content="320" />
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no" />
  <%= favicon_link_tag 'favicon.png' %>
  <title>Surveychomp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <%= link_to(image_tag("favicon.png", :alt => "logo", :title => "Home"), "/", :class => 'pull-left') %>
        <a class="navbar-brand" href="/#">SurveyChomp</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><div class="navbar-text">&nbsp;&nbsp;&nbsp;&nbsp;<%= current_user.email %></div></li>
          <li><%= link_to 'Edit profile', "/users/edit", :class => 'navbar-link' %></li>
          <li><%= link_to "Log out", "/users/sign_out", method: :delete, :class => 'navbar-link'  %></li>
        <% else %>
          <li><%= link_to "Sign up", "/users/sign_up", :class => 'navbar-link'  %></li>
          <li><%= link_to "Log in", "/users/sign_in", :class => 'navbar-link'  %></li>
      <% end %>
    </ul>
    </div>
  </div>

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <div class="container">
  <%= yield %>
  </div>

</body>
</html>
