<!DOCTYPE html>
<html>
<head>
  <title>Surveychomp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/#">SurveyChomp</a>
      </div>
      <ul class="nav navbar-nav">
        <div id="stuffcouldgohere"></div>
      </ul>
      <p class="navbar-text pull-right">
        <% if user_signed_in? %>
          <strong><%= current_user.email %></strong> |
          <%= link_to 'Edit profile', "/users/edit", :class => 'navbar-link' %> |
          <%= link_to "Log out", "/users/sign_out", method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", "/users/sign_up", :class => 'navbar-link'  %> |
          <%= link_to "Log in", "/users/sign_in", :class => 'navbar-link'  %>
        <% end %>
    </div>
  </div>

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <div class="container">
  <%= yield %>
  </div>

</body>
</html>
